<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <h4>Comentar acerca de este sitio:</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            estrellas aqui
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <texta placeholder="comentario"></texta>
        </div>
    </div>
</div>

<script type="text/javascript">
    $("#navmenu").hide();
    $("#contmenu").hide();
</script>