<div class="container">
    <div class="row">      
      <div class="main">
        <div class="page-header">
            <div class="bg-header-page">
                <img ng-src="{{sitio.imagen}}" class="img-responsive">
            </div>
            <p>
                <a href="mapa.html" class="link-more text-blue">Ver Mapa <span><i class="fa fa-map-marker"></i></span></a>
            </p>
            <div class="container posr">
                <h1 class="text-marron-dark">Detalle de sitio</h1>
            </div>
            <div>
                <a href="#/photoslider">Ver fotos</a>&nbsp;|&nbsp;<a href="#/photoslider">Ver videos</a>
            </div>
        </div>
          <section class="">
            <div class="container">                        
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias voluptate, soluta deserunt illum eaque quaerat? Aliquid assumenda sit, placeat, ea dicta quae ipsam quisquam quia, nisi et tenetur numquam modi! Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                <h5 class="text-marron-dark">Datos Generales </h5>
                <h3 class="subtitle s-primary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias voluptate, soluta deserunt illum eaque quaerat? Aliquid assumenda sit, placeat, ea dicta quae ipsam quisquam quia, nisi et tenetur numquam modi! Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias voluptate, soluta deserunt illum eaque quaerat? Aliquid assumenda sit, placeat, ea dicta quae ipsam quisquam quia, nisi et tenetur numquam modi! Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>                        

                <p class="text-center visible-xs mt-30">
                    <br>
                    <a href="mapa.html" class="link-more text-blue">Ver Mapa <span><i class="fa fa-map-marker"></i></span></a>
                </p>
            </div>
        </section>
      </div>                
    </div> 
</div>