<div class="container">
    <div class="row">      
      <div class="main">
        <div class="page-header">
            <div class="text-center visible-xs mt-30">
                <img ng-src="{{sitio.imagen}}" class="img-responsive">
            </div>
            <div class="row">
                &nbsp;&nbsp;&nbsp; Código: #{{sitio.id}}
                &nbsp;UUI: '{{uuid}}'
            </div>
            <p class="text-center visible-xs mt-30">
                <a class="btn btn-primary" href="mapa.html" class="link-more text-blue">Ver Mapa <span><i class="fa fa-map-marker"></i></span></a>&nbsp;
                <a class="btn btn-success dg" href="javascript:void()" ng-click="$event.preventDefault(); openComment();" titulo="Comentar" class="link-more text-blue">Comentar..<span><i class="fa fa-comments"></i></span></a>
            </p>
            <div class="container posr text-center visible-xs mt-30">
                <h1 class="text-marron-dark">{{sitio.titulo}}</h1>
            </div>
            <div class="container text-center">
                <style>
                    .ngrateit-star{
                        background-size: 32px;
                    }
                </style>
                <ng-rate-it ng-model="sitio.userRating" read-only="sitio.desactivarRating" resetable="false" min="0" max="5" step="1" star-width="32" star-height="32" class="bigstar" rated="ratedCallback" ></ng-rate-it>
                {{sitio.userRating}}
            </div>
            <div class="text-center visible-xs mt-30">
                <a class="btn btn-primary" href="#/photoslider">Ver fotos</a>&nbsp;&nbsp;<a class="btn btn-primary" href="#/photoslider">Ver videos</a>
            </div>
        </div>
          <section class="">
            <div class="container">                        
                <p class="lead">{{sitio.info}}</p>
                
                <h3 class="text-marron-dark">Datos Generales</h3>
                <h4 class="subtitle s-primary">{{sitio.datos}}
                </h4>                
                <p>{{sitio.masdatos}}</p>                        
                
                <h3 class="text-marron-dark">Horarios de atención</h3>
                <h4 class="subtitle s-primary">{{sitio.horario}}</h4>
                
                <h3 class="text-marron-dark">Precio de Entrada</h3>
                <h4 class="subtitle s-primary">{{sitio.precio}}</h4>
                
                <p class="text-center visible-xs mt-30">
                    <br>
                    <a  class="btn btn-primary" href="mapa.html" class="link-more text-blue">Ver Mapa <span><i class="fa fa-map-marker"></i></span></a>
                    &nbsp;
                    <a class="btn btn-success dg" href="javascript:void()" ng-click="$event.preventDefault(); openComment();" titulo="Comentar" class="link-more text-blue">Comentar..<span><i class="fa fa-comments"></i></span></a>
                </p>
            </div>
        </section>
      </div>                
    </div> 
</div>

<script type="text/ng-template" id="myModalComment.html">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">Comentar..</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <h4>Comentar acerca de este sitio:</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <span uib-rating ng-model="modelo.rank" max="5" read-only="false" 
                        on-hover="hoveringOver(value)"
                        on-leave="overStar = null" style="font-size: 30px;color:goldenrod;"
                        titles="['Uno','Dos','Tres','Cuatro','Cinco']" aria-labelledby="default-rating"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <textarea placeholder="comentario" ng-model="modelo.desc"
                          class="form-control"    style="width:100%;height:120px;"></textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="guardar()">Comentar</button>
        <button class="btn btn-warning" type="button" ng-click="cancelar()">Cancelar</button>
    </div>
</script>

