<h1>{{titulo}}</h1>

<!-- comentarios -->
<div class="container-fluid">
    <h3 class="text-marron-dark">Comentarios</h3>
    <div class="comment" ng-repeat="com in comentarios">
        <div class="row">
            <div class="col-xs-12">
                {{com.Texto}}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6"></div>
            <div class="col-xs-6">
                Por: {{com.Usuario}}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6"></div>
            <div class="col-xs-6">
                {{formattedDate(com.fecha)}}
            </div>
        </div>
    </div>
</div>