<div class="container">
     <div class="row">
        <h3>Ubicación del sitio</h4>
        <h4>{{sitio.nombre}}</h4>
         <input type="hidden" value="{{sitio.longitud}}" id="lon" />
         <input type="hidden" value="{{sitio.latitud}}" id="lat" />
     </div>
    <div class="row">
        <div class="col-sm-12">
            <div id="map" style="height:400px;width:98%;background-color;red;"></div>
        </div>
    </div>    
</div>

<script type="text/javascript">
	var map = null;
    var miPosicion = null;
    var posicionSitio = null;

	function initMap() {
        console.log("Iniciando mapa..");
        
        posicionSitio = {
            lat: parseFloat($("#lat").val()),
            lng: parseFloat($("#lon").val())
        }
        
		// Try HTML5 geolocation.
		if (navigator.geolocation) {
            console.log("Obteniendo ubicación..");
			navigator.geolocation.getCurrentPosition(function(position) {
                console.log("position");
                console.log(position);
			var pos = {
				lat: position.coords.latitude,
				lng: position.coords.longitude
			};
            miPosicion = pos;            
			mostrarSitio(pos);

		}, function(errorr) {
            console.log("errorr");
            console.error(errorr);
			handleLocationError(true, infoWindow, map.getCenter());
		});
		} else {
            console.log("unsuportted");
			// Browser doesn't support Geolocation
			handleLocationError(false, infoWindow, map.getCenter());
		}
	}

	function handleLocationError(browserHasGeolocation, infoWindow, pos) {
	  infoWindow.setPosition(pos);
	  infoWindow.setContent(browserHasGeolocation ?
		                'Error: No se pudo obtener su ubicación.' :
		                'Error: Este dispositivo no soporta geolocalización.');
	}
	
	function mostrarSitio(pos, map) {
        posicionSitio = {
            lat: parseFloat($("#lat").val()),
            lng: parseFloat($("#lon").val())
        }        
        console.log("Desde");
		console.log(pos);
        console.log("Hasta");
        console.log(posicionSitio);
		
        // Create a map object and specify the DOM element for display.
		map = new google.maps.Map(document.getElementById('map'), {
		  center: posicionSitio,
		  scrollwheel: false,
		  zoom: 16
		});
        
       
        var infoWindow = new google.maps.InfoWindow({map: map});
			infoWindow.setPosition(pos);
			infoWindow.setContent('Usted est&aacute; aqu&iacute;.');
			
			var marker = new google.maps.Marker({
			    position: pos,
			    map: map,
			    title: 'Desde aquí;',
			    animation: google.maps.Animation.DROP
			  });			
        
        console.log("Creando direcciones...");
        var directionsDisplay = new google.maps.DirectionsRenderer({
          map: map
        });
        
        // Set destination, origin and travel mode.
        var request = {
          destination: posicionSitio,
          origin: pos,
          travelMode: 'DRIVING'
        };

         console.log("Creando DirectionsService...");
        // Pass the directions request to the directions service.
        var directionsService = new google.maps.DirectionsService();
        directionsService.route(request, function(response, status) {
            console.log("response");
            console.log(response);
            console.log(status);
          if (status == 'OK') {
            // Display the route on the map.
            directionsDisplay.setDirections(response);
          }
        });
        
        /*
        var sitios = getPosicionesCercanas(pos, 5);
		console.log(sitios);
		showCercanos(sitios, map);
        */
	}

    </script>
    

    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyARQxFqNLURBkxDBIdDBjnSPNXYabWyu2g&callback=initMap"
    async defer></script>