<div id="cont" style="height: 80%">
<div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
  <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
    <img ng-src="{{slide.image}}" class="fotoslider">
    <div class="carousel-caption">
      <h4>Slide {{slide.id}}</h4>
      <p>{{slide.text}}</p>
    </div>
  </div>
</div>
</div>

<script type="text/javascript">

    $(function(){
        var alto = $(window).height() - 50;
        $("#cont").height(alto);
        $("img").height(alto);
        console.log(alto);
    });

</script>