<div class="container"> 
<div class="main">                  
  <section class="bg-gris" id="gallery-list">
      <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-3" ng-repeat="sitio in modelo.sitios">
                <div class="item-slide-galerias text-center-min" style="border-bottom:1px dotted grey;">
                    <div class="row">
                        <div class="col-sm-12 col-xs-5">
                            <div class="img-galeria">
                                <a href="/#detalle_sitio">
                                    <img ng-src="{{sitio.imagen}}" class="img-responsive">
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-12 col-xs-7">
                            <div class="caption-home-galeria">
                                <h2>{{sitio.titulo}}</h2>
                                {{sitio.ranking}}
                                <h5 class="text-verde">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                </h5>
                                <p>
                                    {{sitio.descripcion | limitTo:70 }}..
                                    <a href="#/detalle_sitio" class="link-more">
                                        <span class="link-text">Ver Sitio</span>
                                        <span class="text-blue"><i class="fa fa-chevron-right"></i></span>
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

          </div>
          <div class="row">
              &nbsp;
          </div>
    </div>
    </section>
</div>  
</div> 
